$primary-background: #10141B !default;
$secondary-background: #1B202B!default;
$item-background: #252d3d!default;
$accent: #48CCCE !default;
$text: #F0F1F3 !default;
$text-muted: #767B87 !default;
$success: #55F27B !default;
$danger: #DE2F65 !default;
$item-border: #3A4049 !default;